# dependencies
/node_modules
/composer

# Environment Configuration
.env
temp

# testing
/coverage

# production
/build
/public

# Logs
logs
log
*.log

# user specific ide
.idea
.vscode

# Flow Coverage Report
flow-coverage/

# locals
/config.local.js
/config.local.neon

# temp backups
*.bck
_bck

# OSX crap
.DS_*